name: Run Calculator

on:
  push:
    branches: [ main ]         
  pull_request:
    branches: [ main ]          

jobs:
  test:
    runs-on: ubuntu-latest       

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4   

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11" 

      - name: Run calculator
        run: python calc.py        
